header {
text-align: center;
}

footer {
text-align: center;
}

.column-1 {
display: inline-block;
vertical-align: top;
width: 30%;
padding: 10px;
font-family: "Monospace";
margin: 30px;
border: 2px solid black;
border-radius: 20px;
background-color: #add8e6;
}

.column-2 {
display: inline-block;
vertical-align: top;
width: 30%;
padding: 10px;
font-family: "Monospace";
margin: 30px 30px 30px 300px;
border: 2px solid black;
border-radius: 20px;
background-color: #add8e6;
}