.octopus {
	margin: 100px;
	position: absolute;
	z-index: 1;
}

.glasses {
	position: relative;
	margin: 140px;
	margin-top: 200px;
	z-index: 2;
}

.hat {
	position: absolute;
	z-index: 3;

	margin-top: 45px;
	margin-left: 75px;
}